# Εικονικό περιβάλλον (Python Virtual Environment)
venv/

# Το dataset με τις χιλιάδες εικόνες
fer2013/

#Το μοντέλο
.h5

# Αρχεία Cache της Python και του συστήματος
__pycache__/
*.pyc
.DS_Store
.vscode/